<link rel="stylesheet" href="/stylesheets/login.css">
<div class="container">
  <div class="inputContainer">
    <form action="/api/user/auth/address/update" method="post">
      <div class="input">
        <input type="text" id="firstname" value="{{user.first_name}}" name="first_name" placeholder="First Name"
          required>
      </div>
      <div class="input">
        <input type="text" id="firstname" value="{{user.last_name}}" name="last_name" placeholder="Last Name" required>
      </div>
      <div class="input">
        <input type="email" id="username" value="{{user.email}}" name="email" placeholder="Email" required>
      </div>
      <div class="input">
        <input type="tel" id="username" value="{{user.phone}}" name="phone" placeholder="Phone No" required>
      </div>
      <div class="input">
        <input type="text" id="firstname" value="{{address.address_line_one}}" name="address_line_one"
          placeholder="Address Line One" required>
      </div>
      <div class="input">
        <input type="text" id="firstname" value="{{address.address_line_two}}" name="address_line_two"
          placeholder="Address Line Two" required>
      </div>
      <div class="input">
        <input type="text" id="firstname" value="{{address.state}}" name="state"
          placeholder="State" required>
      </div>
      <div class="input">
        <input type="text" id="username" name="city" value="{{address.city}}" placeholder="City" required>
      </div>
      <div class="input">
        <input type="text" id="username" name="landmark" value="{{address.land_mark}}" placeholder="Land Mark" required>
      </div>
      <div class="input">
        <input type="number" name="zip_code" id="password" value="{{address.zip_code}}" placeholder="Zip Code" required>
      </div>
      <div class="input">
        <select name="gender" id="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Others</option>
        </select>
      </div>
      <div class="input loginInp">
        <button type="submit" title="Click to login with your existing account.">UPDATE</button>
      </div>
    </form>
  </div>
</div>