<div class="container ">
  <div class="row  ">

    <div class="col-12 col-sm-12 col-md-8 col-lg-7 mt-5  mx-auto align-items-center  "
      >
      <div class="mx-0 px-4 mt-5 poppins-medium ">
        <h5 class="poppins-bold">Profile Details</h5>
        <hr>
      </div>
      <div class="mx-2 px-5 mb-5 poppins-medium ">
        <h6 class="py-2">First Name : <span class="fw-semibold">{{user.first_name}}</span> </h6>
        <h6 class="py-2">Last Name : <span class="fw-semibold">{{user.last_name}}</span> </h6>
        <h6 class="py-2">Email ID : <span class="fw-semibold">{{user.email}}</span> </h6>
        <h6 class="py-2">Mobile Number : <span class="fw-semibold">{{user.phone}}</span> </h6>
        <h6 class="py-2">Gender : <span class="fw-semibold">{{address.gender}}</span> </h6>
        <h6 class="py-2">Address : <span class="fw-semibold">{{address.address_line_one}}, {{address.address_line_two}}, {{address.city}}, {{address.state}}, {{address.zip_code}}.</span> </h6>
        <a href="/user/profile/edit" class="btn btn-dark px-0 mt-4 col-12 col-md-5 " style="border-radius: 0;">EDIT
          PROFILE</a>


      </div>




    </div>


  </div>
</div>